.fs-25 {
    font-size: 0.25rem;
}

.fs-5 {
    font-size: 0.5rem;
}

.fs-75 {
    font-size: 0.75rem;
}

.fs-85 {
    font-size: 0.85rem;
}

.fs-1 {
    font-size: 1rem;
}

.fs-125 {
    font-size: 1.25rem;
}

.fs-15 {
    font-size: 1.5rem;
}

.fs-175 {
    font-size: 1.75rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-225 {
    font-size: 2.25rem;
}

.fs-25 {
    font-size: 2.5rem;
}

.fs-275 {
    font-size: 2.75rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-325 {
    font-size: 3.25rem;
}

.fs-35 {
    font-size: 3.5rem;
}

.fs-375 {
    font-size: 3.75rem;
}

.fs-4 {
    font-size: 4rem;
}